<div class="container-lg">
    <h1 class="mb-3">Resumo</h1>
    <section class="painel" *ngIf="!loading && !success && !error; else other">
        <h2 class="fw-bold fs-4">Produtos</h2>
        <div class="produtos mb-4">
            <ul>
                <li *ngFor="let item of detail['carrinho']" class="row align-items-center mb-3">
                    <img [src]="item.imagem" alt="placeholder" style="width: 150px; height: 150px; object-fit: cover;"/>
                    <span class="col">{{ item.titulo }}</span> 
                    <span class="col">Quantidade: {{ item.quantidade }}</span> 
                    <span class="col text-end"> R{{ item.preco | currency: 'USD' }}</span>
                </li>
            </ul>
            <p class="row d-flex justify-content-end border-top border-black pt-3">
                <span class="fw-bold col-2">Total dos itens: </span> 
                <strong class="col-1 text-end">R{{ detail['valor-item-total'] | currency: 'USD' }}</strong></p>
        </div>
        <h2 class="fw-bold fs-4">Endereço de Cobrança</h2>
        <div class="endereco-cobranca mb-4">
            <p><strong>Apelido:</strong> {{ detail['endereco-cobranca'].apelido }}</p>
            <p><strong>Endereço:</strong> 
                {{ detail['endereco-cobranca'].tipo_logradouro }} {{ detail['endereco-cobranca'].logradouro }}, 
                {{ detail['endereco-cobranca'].numero }}, 
                {{ detail['endereco-cobranca'].bairro }}, 
                {{ detail['endereco-cobranca'].cidade }}, 
                {{ detail['endereco-cobranca'].estado }}, 
                {{ detail['endereco-cobranca'].pais }}, 
                CEP: {{ detail['endereco-cobranca'].cep }}
            </p>
        </div>
        <h2 class="fw-bold fs-4">Endereço de Entrega</h2>
        <div class="endereco-entrega mb-4">
            <p><strong>Apelido:</strong> {{ detail['endereco-entrega'].apelido }}</p>
            <p><strong>Endereço:</strong> 
                {{ detail['endereco-entrega'].tipo_logradouro }} {{ detail['endereco-entrega'].logradouro }}, 
                {{ detail['endereco-entrega'].numero }}, 
                {{ detail['endereco-entrega'].bairro }}, 
                {{ detail['endereco-entrega'].cidade }}, 
                {{ detail['endereco-entrega'].estado }}, 
                {{ detail['endereco-entrega'].pais }}, 
                CEP: {{ detail['endereco-entrega'].cep }}
            </p>
           
            <p class="row d-flex justify-content-end"><strong class="fw-bold col-2 text-start">Frete:</strong><span class="col-1 text-end">R{{ detail['frete'] | currency: 'USD' }}</span></p>
            
            <p class="row d-flex justify-content-end border-top border-black pt-2"><span class="fw-bold col-2 text-start">Total dos itens(+ frete): </span> <strong class="col-1 text-end">R{{detail.frete + detail["valor-item-total"]| currency: 'USD' }}</strong></p>
        </div>
        <h2 class="fw-bold fs-4">Forma de Pagamento</h2>
        <div class="pagamento mb-4">
            <ul>
                <li *ngFor="let cartao of detail['cartoes']" class="d-flex justify-content-between border-bottom border-black mb-2 mt-3">
                    <p><strong>Cartão:</strong> {{ cartao.bandeira }} - Final {{ cartao.ultimos_numeros }}</p>
                    <p>R{{ cartao.valor  | currency: 'USD' }}</p>
                </li>
            </ul>
            <p *ngIf="detail['cupom-promo']" class="d-flex justify-content-between border-bottom border-black mb-2 mt-3">
                <strong>Cupom Promocional - {{ detail['cupom-promo'].codigo }} </strong> 
                <span>R{{ detail['cupom-promo'].valor  | currency: 'USD' }}</span>
            </p>
            <ul>
                <li *ngFor="let cupom of detail['cupom-troca']">
                    <p class="d-flex justify-content-between border-bottom border-black mb-2 mt-3">
                        <strong>Cupom de Troca - {{ cupom.codigo }}</strong> 
                        <span>R{{ cupom.valor  | currency: 'USD' }}</span>
                    </p>
                </li>
            </ul>
            
            <p class="row d-flex justify-content-end pt-3">
                <strong class="fw-bold col-2 text-start">Valor Pagamento:</strong>
                <span class="col-1">R{{ detail['pagamento-total']  | currency: 'USD' }}</span>
            </p>
        </div>
        <div>
            <button class="btn btn-secondary btn-lg" (click)="goBack()">Voltar</button>
            <button 
                class="btn btn-primary btn-lg ms-3" 
                id="btn-finalizar"
                (click)="finalizarPedido()"
                [disabled]="this.loadingButton"
            >
                {{this.loadingButton ? "Carregando..." :"Finalizar Pedido"}}
            </button>
        </div>
    </section>
    <ng-template #other>
        <p *ngIf="loading">Carregando...</p>
        <div *ngIf="success">
            <div class="painel text-center">
                <p class="mb-4">Operação realizada com sucesso!</p>
                <button
                class="btn btn-secondary btn-md"
                (click)="this.success = false; goToMyPedidos()"
                id="btn-success-ok"
                >
                OK
                </button>
            </div>
        </div>
        <div *ngIf="error">
            <div class="painel text-center">
                <p class="mb-4">{{errorMsg}}</p>
                <button
                class="btn btn-secondary btn-md"
                (click)="this.error = false;"
                >
                OK
                </button>
            </div>
        </div>
    </ng-template>
</div>