<div class="container-lg">
  <h1 class="mb-4">Meu Perfil</h1>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column painel">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/meu-perfil"
            >Meu Dados Pessoais</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meu-perfil/enderecos">Meus Endereços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meu-perfil/cartoes">Meus Cartões</a>
        </li>
      </ul>
    </div>
    <div class="col-8" *ngIf="!loading && !changeOnlyPassword && !success; else other">
      <form
        class="row g-3 painel"
        [formGroup]="customerForm"
      >
        <h4>Dados Pessoias</h4>
        <hr />
        <div class="col-md-6">
          <label class="form-label">Nome Completo</label>
          <input
            type="text"
            class="form-control"
            formControlName="nome_completo"
            [mask]="'S*'"
            [patterns]="customPatterns"
          />
          <small
            class="text-danger"
            *ngIf="
              errorMsgs?.nome_completo
            "
          >
            {{errorMsgs?.nome_completo}}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Data Nascimento</label>
          <input
            type="date"
            class="form-control"
            formControlName="data_nascimento"
          />
          <small
            class="text-danger"
            *ngIf="
              errorMsgs?.data_nascimento
            "
          >
            {{errorMsgs?.data_nascimento}}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Telefone</label>
          <input
            type="text"
            class="form-control"
            formControlName="telefone"
            mask="(00) 000000000"
          />
          <small
            class="text-danger"
            *ngIf="
              errorMsgs?.telefone
            "
          >
            {{errorMsgs?.telefone}}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">CPF</label>
          <input
            type="text"
            class="form-control"
            formControlName="cpf"
            inputmode="numeric"
            mask="000.000.000-00"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs?.cpf"
          >
            {{errorMsgs?.cpf}}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Genêro</label>
          <select class="form-select" formControlName="genero">
            <option selected disabled value="">Escolha...</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outro</option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              errorMsgs?.genero
            "
          >
            Genero é obrigatório
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Email</label>
          <div class="input-group">
            <span class="input-group-text">{{ "@" }}</span>
            <input type="text" class="form-control" formControlName="email" />
          </div>
          <small
            class="text-danger"
            *ngIf="errorMsgs?.email"
          >
            {{errorMsgs?.email}}
          </small>
        </div>
        <div class="col-12 mt-4 d-flex justify-content-end">
          <button
            class="btn btn-secondary btn w-25 me-3"
            type="button"
            (click)="this.changeOnlyPassword = true; this.submitted = false"
          >
            Alterar Somente Senha
          </button>
          <button
            class="btn btn-primary btn w-25"
            type="button"
            (click)="onSubmit('')"
          >
            Alterar
          </button>
        </div>
      </form>
    </div>
    <ng-template #other>
      <div *ngIf="success" class="col-8 painel text-center">
        <p class="mb-4">Operação Realizada Com Sucesso</p>
        <button
          class="btn btn-secondary btn-md"
          (click)="this.success = false; this.changeOnlyPassword = false; onReloadPage()"
        >
          OK
        </button>
      </div>
      <p *ngIf="loading">Carregando...</p>
      <div class="col-8">
        <form *ngIf="changeOnlyPassword" [formGroup]="passwordForm" class="row g-3 painel">
          <h4>Nova Senha</h4>
          <hr />
          <div class="col-md-6">
            <label class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              formControlName="senha"
            />
            <small
              class="text-danger"
              *ngIf="
                errorMsgs?.senha
              "
            >
              {{errorMsgs?.senha}}
            </small>
          </div>
          <div class="col-md-6">
            <label class="form-label">Confirme Senha</label>
            <input
              type="password"
              class="form-control"
              formControlName="senha_novamente"
            />
            <small
              class="text-danger"
              *ngIf="
                errorMsgs?.senha_novamente
              "
            >
              {{errorMsgs?.senha_novamente}}
            </small>
          </div>
          <div class="col-12 mt-4 d-flex justify-content-end">
            <button
              class="btn btn-secondary btn w-25 me-3"
              type="button"
              (click)="this.changeOnlyPassword = false; this.submitted = false"
            >
              Voltar
            </button>
            <button
              class="btn btn-primary btn w-25"
              type="button"
              (click)="onSubmit('password')"
            >
              Alterar
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
