<div class="container-lg">
  <div [ngClass]="{'blur-background': isModalOpen}">
    <h1 class="mb-4">Meu Perfil</h1>
    <div class="row">
      <div class="col-3">
        <ul class="nav flex-column painel">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/meu-perfil">Meu Dados Pessoais</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/meu-perfil/enderecos">Meus Endereços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/meu-perfil/cartoes">Meus Cartões</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/meu-perfil/pedidos">Meus Pedidos</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link active" href="/meu-perfil/trocas">Minhas Trocas
              <span *ngIf="notificationService.isHaveNotification()" class="notify"></span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/meu-perfil/cupom">Meus Cupons</a>
          </li>
        </ul>
      </div>
      <section
        *ngIf="!loading; else other"
        class="col-8"
        >
        <ul *ngIf="notificationService.isHaveNotification()" class="notification-troca painel mb-4">
          <li *ngFor="let notify of notifications">{{notify.message}}</li>
        </ul>
        <p *ngIf="myTrocas.length <= 0" class="painel text-center py-5 mb-3">Você não possui nenhum pedido de troca.</p>
        <ul *ngIf="myTrocas.length > 0">
          <li
            class="painel mb-3"
            *ngFor="let troca of myTrocas"
          >
          <header class="row border-bottom border-black mb-2 pb-1">
            <p class="col">#{{troca.id}}</p>
            <p class="col text-end"><strong class="fw-bold">Data Pedido:</strong> {{troca.dataCriacao}}</p>
            <p class="col text-end fw-bold">{{troca.status.replace('_', ' ') }}</p>
          </header>
          <article>
            <div *ngFor="let produto of troca.produtosTroca" class="row align-items-center mb-3">
              <img [src]="produto.imagem" alt="placeholder" style="width: 120px; height: 120px; object-fit: cover;"/>
              <span class="col">{{ produto.titulo }}</span> 
              <span class="col">Quantidade: {{ produto.quantidade }}</span> 
              <span class="col text-end"> R{{ produto.preco | currency: 'USD' }}</span>
              </div>
          </article>
          <footer class="row d-flex justify-content-between align-items-center border-top border-black pt-2">
            <button *ngIf="troca.status === 'TROCA_SOLICITADA'" class="col-2 btn btn-danger" (click)="cancelarTroca(troca.id)">
              Cancelar
            </button>
            <button *ngIf="troca.status !== 'TROCA_SOLICITADA'" class="col-2 btn btn-danger" style="visibility: hidden;">
                Cancelar
            </button>
            <p class="col-4 text-end">
              <span class="fw-bold">Valor Final: </span>R{{troca["valorTotal"] | currency: 'USD' }}
            </p>
          </footer>
          </li>
        </ul>
      </section>
      <ng-template #other>
        <p *ngIf="loading" class="col-8 painel text-center">Carregando...</p>
      </ng-template> 
    </div>
  </div>
  <div *ngIf="!loading" class="modal fade show d-block" tabindex="-1" [ngClass]="{'d-none': !isModalOpen}">
    <div *ngIf="success" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <p class="mb-4">Operação realizada com sucesso!</p>
                    <button
                    class="btn btn-secondary btn-md"
                    (click)="confirmSuccess()"
                    >
                    OK
                    </button>
            </div>
            <div class="modal-footer"></div>
          </div>
    </div>
    <div *ngIf="!success" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <p class="mb-4">Houve um Problema</p>
                    <button
                    class="btn btn-secondary btn-md"
                    (click)="confirmSuccess()"
                    >
                    OK
                    </button>
            </div>
            <div class="modal-footer"></div>
          </div>
    </div>
</div>
</div>
  
