<div class="container-lg">
    <div class="blur" [ngClass]="{'blur-background': isModalOpen}">
    <p class="fs-5 mb-3">
      <span role="button" (click)="goBack()"><< Voltar</span>
    </p>
    <h1 class="mb-4">Selecione Endereço de Entrega</h1>
    <div class="row d-flex justify-content-between" *ngIf="!loading; else other">
        <section class="col-7">
          <ul>
            <li
              class="painel mb-3 d-flex align-items-center"
              *ngFor="let address of myAddresses; let i = index"
            >
              <input
                type="radio"
                name="selectedAddress"
                style="height: 40px; width: 40px;"
                [(ngModel)]="selectedAddress"
                [value]="address"
                [checked]="address.entrega"
                id="address-{{ i }}"
                class="form-check-input me-3"
                (change)="changeAddress(address.id)"
              />
              <div class="d-flex flex-column">
                <label for="address-{{ i }}" class="form-check-label">
                  <p class="fs-4 fw-bold">{{ address.apelido }}</p>
                </label>
                <div class="mt-4">
                  <span class="tag me-2" *ngIf="address.entrega">Entrega</span>
                  <span class="tag me-2" *ngIf="address.cobranca">Cobrança</span>
                  <span class="tag me-2" *ngIf="address.residencial">Residencial</span>
                </div>
              </div>
            </li>
            <button class="btn btn-primary" (click)="openModal()">
              Criar Novo Endereço
            </button>
          </ul>
        </section>
        <article class="col-4 painel d-flex flex-column justify-content-between">
            <div class="info">
                <h3 class="fs-4 fw-bold mb-2 border-bottom border-dark">Detalhes do Pedido</h3>
                <div class="row">
                    <span class="col">Total Itens</span>
                    <span class="col text-end">R{{detail["valor-item-total"] | currency: 'USD' }}</span>
                </div>
                <div class="row">
                  <span class="col">Frete</span>
                  <span class="col text-end">R{{detail.frete | currency: 'USD' }}</span>
              </div>
            </div>
            <div class="row gap-4">
              <button class="btn btn-secondary fs-5 col" (click)="goBack()">Voltar</button>
              <button class="btn btn-primary fs-5 col" (click)="goToNextStep()">Avançar</button>
            </div>
        </article>
      </div>
    </div>
    <div class="modal fade show d-block" tabindex="-1" [ngClass]="{'d-none': !isModalOpen}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Novo Endereço de Entrega</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
          <form
            class="row g-3"
            [formGroup]="addressForm"
          >
        <div class="row mt-3">
          <div class="col-md-4">
            <label class="form-label">Apelido</label>
            <input
              type="text"
              class="form-control"
              formControlName="apelido"
              [mask]="'S*'"
              [patterns]="customPatterns"
              (input)="errorMsgs.apelido = ''"
            />
            <small
              class="text-danger"
              *ngIf="
                errorMsgs.apelido
              "
            >
              {{errorMsgs.apelido}}
            </small>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label">Tipo Residencia</label>
          <select class="form-select" formControlName="tipo_residencia" (input)="errorMsgs.tipo_residencia = ''">
            <option selected disabled value="">Escolha...</option>
            <option value="CASA">Casa</option>
            <option value="APARTAMENTO">Apartamento</option>
            <option value="CONDOMINIO">Condominio</option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.tipo_residencia
            "
          >
            {{errorMsgs.tipo_residencia}}
          </small>
        </div>
        <div class="col-md-2">
          <label class="form-label">Tipo Logradouro</label>
          <select class="form-select" formControlName="tipo_logradouro" (input)="errorMsgs.tipo_logradouro = ''">
            <option selected disabled value="">Escolha...</option>
            <option value="RUA">Rua</option>
            <option value="AVENIDA">Avenida</option>
            <option value="PRAÇA">Praça</option>
            <option value="JARDIM">Jardim</option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.tipo_logradouro 
            "
          >
            {{errorMsgs.tipo_logradouro }}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Logradouro</label>
          <input
            type="text"
            class="form-control"
            formControlName="logradouro"
            [mask]="'S*'"
            [patterns]="customPatterns"
            (input)="errorMsgs.logradouro=''"
          />
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.logradouro
            "
          >
            {{errorMsgs.logradouro}}
          </small>
        </div>
        <div class="col-md-2">
          <label class="form-label">Número</label>
          <input
            type="text"
            class="form-control"
            mask="A*"
            formControlName="numero"
            maxlength="5"
            (input)="errorMsgs.numero = ''"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs.numero"
          >
            {{errorMsgs.numero}}
          </small>
        </div>
        <div class="col-md-4">
          <label class="form-label">País</label>
          <select class="form-select" formControlName="pais" (input)="this.errorMsgs.pais = ''">
            <option selected disabled value="">Escolha...</option>
            <option value="BR">Brasil</option>
          </select>
          <small
            class="text-danger"
            *ngIf="this.errorMsgs.pais"
          >
            {{this.errorMsgs.pais}}
          </small>
        </div>
        <div class="col-md-4">
          <label class="form-label">Estado</label>
          <select class="form-select" formControlName="estado" (change)="errorMsgs.estado = ''; onChangeEstado();">
            <option selected disabled value="">Escolha...</option>
            <option *ngFor="let estado of estadosIbge" [value]="estado.sigla">{{estado.nome}}</option>
          </select>
          <small
            class="text-danger"
            *ngIf="errorMsgs.estado"
          >
            {{errorMsgs.estado}}
          </small>
        </div>
        <div class="col-md-4">
          <label class="form-label">Cidade</label>
          <select class="form-select" formControlName="cidade" (input)="this.errorMsgs.cidade = ''">
            <option selected disabled value="">Escolha...</option>
            <option *ngFor="let cidade of cidadesUfIbge" [value]="cidade.nome">{{cidade.nome}}</option>
          </select>
          <small
            class="text-danger"
            *ngIf="errorMsgs.cidade"
          >
            {{errorMsgs.cidade}}
          </small>
        </div>
        <div class="col-md-3">
          <label class="form-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            formControlName="bairro"
            [mask]="'S*'"
            [patterns]="customPatterns"
            (input)="errorMsgs.bairro = ''"
          />
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.bairro
            "
          >
            {{errorMsgs.bairro}}
          </small>
        </div>
        <div class="col-md-3">
          <label class="form-label">CEP</label>
          <input
            type="text"
            class="form-control"
            mask="00000-000"
            formControlName="cep"
            (input)="errorMsgs.cep = ''"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs.cep"
          >
            {{errorMsgs.cep}}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Observações</label>
          <input
            type="text"
            class="form-control"
            [mask]="'S*'"
            [patterns]="customPatterns"
          />
        </div>
        <div class="col-md-12">
          <div class="form-check d-flex align-items-center">
            <input
              class="form-check-input me-3"
              type="checkbox"
              formControlName="residencial"
              id="checkResidencial"
              value="false"
            />
            <label class="form-check-label" for="checkResidencial">
              Endereço Residencial Padrão
            </label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-check d-flex align-items-center">
            <input
              class="form-check-input me-3"
              type="checkbox"
              formControlName="entrega"
              id="checkEntrega"
              value="false"
            />
            <label class="form-check-label" for="checkEntrega">
              Endereço Entrega Padrão
            </label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-check d-flex align-items-center">
            <input
              class="form-check-input me-3"
              type="checkbox"
              formControlName="cobranca"
              id="checkCobranca"
              value="false"
            />
            <label class="form-check-label" for="checkCobranca">
              Endereço Cobrança Padrão
            </label>
          </div>
        </div>
      </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
            <button 
              type="button" 
              class="btn btn-primary" 
              (click)="onSubmit()"
              [disabled]="loadingForm"
            >
              {{loadingForm ? "Carregando..." : "Salvar Endereço"}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #other>
        <p>Carregando...</p>
    </ng-template>
</div>
