<div class="container-lg">
  <h1 class="mb-4">Meu Perfil</h1>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column painel">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/meu-perfil"
            >Meu Dados Pessoais</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meu-perfil/enderecos">Meus Endereços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/meu-perfil/cartoes">Meus Cartões</a>
        </li>
      </ul>
    </div>
    <main class="col-8">
      <section
        *ngIf="!loading && !success && !confirmDelete && !error; else other"
      >
        <ul>
          <li
            class="painel mb-3 d-flex justify-content-between align-items-center"
            *ngFor="let card of myCards"
          >
            <div class="d-flex flex-column">
              <p class="fs-4 fw-bold">
                **** {{ card.numero_impresso }} {{ card.bandeira.toLocaleUpperCase() }}
              </p>
            </div>
            <div class="actions">
              <button
                *ngIf="!card.preferencial"
                class="btn btn-primary"
                (click)="onConfig(card.id)"
              >
                Configurar como preferencial
              </button>
              <button
                *ngIf="card.preferencial"
                class="btn btn-secondary"
                disabled
              >
                Preferencial
              </button>
              <button
                class="btn btn-danger ms-3"
                (click)="this.confirmDelete = card.id"
              >
                Excluir
              </button>
            </div>
          </li>
        </ul>
        <button class="btn btn-primary" (click)="goToNewCreditCard()">
          Criar Novo Cartão
        </button>
      </section>
      <ng-template #other>
        <div *ngIf="loading">
          <p>Carregando...</p>
        </div>
        <div *ngIf="success">
          <div class="painel text-center">
            <p class="mb-4">Operação realizada com sucesso!</p>
            <button
              class="btn btn-secondary btn-md"
              (click)="onReloadPage();"
            >
              OK
            </button>
          </div>
        </div>
        <div *ngIf="confirmDelete">
          <div class="painel text-center">
            <p class="mb-3">Ter certeza que deseja excluir este cartão?</p>
            <button
              class="btn btn-secondary btn-md me-3"
              (click)="this.confirmDelete = 0"
            >
              Voltar
            </button>
            <button class="btn btn-danger btn-md" (click)="onDelete()">
              Excluir
            </button>
          </div>
        </div>
        <div *ngIf="error">
          <div class="painel text-center">
            <p class="mb-4 fw-bold">Houve um erro ao realizar a operação!</p>
            <span *ngIf="errorMsg">{{ errorMsg }}</span>
            <div class="row mt-2 d-flex justify-content-center">
              <button
                class="btn btn-secondary btn-md col-1"
                (click)="this.error = false; this.errorMsg = '';"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </main>
  </div>
</div>
