<div class="container-lg">
  <h1 class="mb-4">Meu Perfil</h1>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column painel">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/meu-perfil"
            >Meu Dados Pessoais</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/meu-perfil/enderecos"
            >Meus Endereços</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meu-perfil/cartoes">Meus Cartões</a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <form
        class="row g-3 painel"
        [formGroup]="addressForm"
        *ngIf="!loading && !success; else other"
      >
        <h4>Endereço Residencial</h4>
        <hr />
        <div class="row mt-3">
          <div class="col-md-4">
            <label class="form-label">Apelido</label>
            <input
              type="text"
              class="form-control"
              formControlName="apelido"
              [mask]="'S*'"
              [patterns]="customPatterns"
              (input)="errorMsgs.apelido = ''"
            />
            <small
              class="text-danger"
              *ngIf="
                errorMsgs.apelido
              "
            >
              {{errorMsgs.apelido}}
            </small>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label">Tipo Residencia</label>
          <select class="form-select" formControlName="tipo_residencia" (input)="errorMsgs.tipo_residencia = ''">
            <option selected disabled value="">Escolha...</option>
            <option value="CASA">Casa</option>
            <option value="APARTAMENTO">Apartamento</option>
            <option value="CONDOMINIO">Condominio</option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.tipo_residencia
            "
          >
            {{errorMsgs.tipo_residencia}}
          </small>
        </div>
        <div class="col-md-2">
          <label class="form-label">Tipo Logradouro</label>
          <select class="form-select" formControlName="tipo_logradouro" (input)="errorMsgs.tipo_logradouro = ''">
            <option selected disabled value="">Escolha...</option>
            <option value="RUA">Rua</option>
            <option value="AVENIDA">Avenida</option>
            <option value="PRAÇA">Praça</option>
            <option value="JARDIM">Praça</option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.tipo_logradouro 
            "
          >
            {{errorMsgs.tipo_logradouro }}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Logradouro</label>
          <input
            type="text"
            class="form-control"
            formControlName="logradouro"
            [mask]="'S*'"
            [patterns]="customPatterns"
            (input)="errorMsgs.logradouro=''"
          />
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.logradouro
            "
          >
            {{errorMsgs.logradouro}}
          </small>
        </div>
        <div class="col-md-2">
          <label class="form-label">Número</label>
          <input
            type="text"
            class="form-control"
            mask="A*"
            formControlName="numero"
            maxlength="5"
            (input)="errorMsgs.numero = ''"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs.numero"
          >
            {{errorMsgs.numero}}
          </small>
        </div>
        <div class="col-md-4">
          <label class="form-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            formControlName="bairro"
            [mask]="'S*'"
            [patterns]="customPatterns"
            (input)="errorMsgs.bairro = ''"
          />
          <small
            class="text-danger"
            *ngIf="
              errorMsgs.bairro
            "
          >
            {{errorMsgs.bairro}}
          </small>
        </div>
        <div class="col-md-4">
          <label class="form-label">Cidade</label>
          <input
            type="text"
            class="form-control"
            formControlName="cidade"
            [mask]="'S*'"
            [patterns]="customPatterns"
            (input)="errorMsgs.cidade=''"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs.cidade"
          >
            {{errorMsgs.cidade}}
          </small>
        </div>
        <div class="col-md-4">
          <label class="form-label">Estado</label>
          <input
            type="text"
            class="form-control"
            formControlName="estado"
            [mask]="'S*'"
            [patterns]="customPatterns"
            (input)="errorMsgs.estado=''"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs.estado"
          >
            {{errorMsgs.estado}}
          </small>
        </div>
        <div class="col-md-3">
          <label class="form-label">País</label>
          <input
            type="text"
            class="form-control"
            formControlName="pais"
            [mask]="'S*'"
            [patterns]="customPatterns"
            (input)="errorMsgs.pais = ''"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs.pais"
          >
            {{errorMsgs.pais}}
          </small>
        </div>
        <div class="col-md-3">
          <label class="form-label">CEP</label>
          <input
            type="text"
            class="form-control"
            mask="00000-000"
            formControlName="cep"
            (input)="errorMsgs.cep = ''"
          />
          <small
            class="text-danger"
            *ngIf="errorMsgs.cep"
          >
            {{errorMsgs.cep}}
          </small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Observações</label>
          <input
            type="text"
            class="form-control"
            [mask]="'S*'"
            [patterns]="customPatterns"
          />
        </div>
        <div class="col-md-12">
          <div class="form-check d-flex align-items-center">
            <input
              class="form-check-input me-3"
              type="checkbox"
              formControlName="residencial"
              id="checkResidencial"
              value="false"
            />
            <label class="form-check-label" for="checkResidencial">
              Endereço Residencial Padrão
            </label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-check d-flex align-items-center">
            <input
              class="form-check-input me-3"
              type="checkbox"
              formControlName="entrega"
              id="checkEntrega"
              value="false"
            />
            <label class="form-check-label" for="checkEntrega">
              Endereço Entrega Padrão
            </label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-check d-flex align-items-center">
            <input
              class="form-check-input me-3"
              type="checkbox"
              formControlName="cobranca"
              id="checkCobranca"
              value="false"
            />
            <label class="form-check-label" for="checkCobranca">
              Endereço Cobrança Padrão
            </label>
          </div>
        </div>
        <div class="col-12 mt-4 d-flex justify-content-between">
          <button class="btn btn-secondary btn-lg w-20" type="button" (click)="onBack()">
            Voltar
          </button>
          <div>
            <button
              class="btn btn-primary btn-lg w-20 me-3"
              type="submit"
              (click)="onSubmit()"
            >
              Criar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-8">
    <ng-template #other>
      <div *ngIf="loading">
        <p>Carregando...</p>
      </div>
      <div *ngIf="success">
        <div class="painel text-center">
          <p class="mb-4">Operação realizada com sucesso!</p>
          <button
            class="btn btn-secondary btn-md"
            (click)="this.success = false; onBack()"
          >
            OK
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
