<div class="container-lg">
  <h1 class="mb-4">Meu Perfil</h1>
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column painel">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/meu-perfil"
            >Meu Dados Pessoais</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/meu-perfil/enderecos"
            >Meus Endereços</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meu-perfil/cartoes">Meus Cartões</a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <ng-template #stillLoading>
        <p>Carregando...</p>
      </ng-template>
    </div>
  </div>
</div>
